<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b6f04d6-0b89-4bfe-ace8-003ee880803b" Alias="ArticleTags" Level="1">
  <Info>
    <Name>ArticleTags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "articleTags",
  "StorageType": 1
}]]></Config>
</DataType>