@inherits Umbraco.Web.Mvc.UmbracoViewPage<Article>

@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage, Model.AuthorName, Model.ArticleDate))

<div class="container">
    <div class="row">

        <article>
            @Html.Raw(Model.MainContent)
        </article>
    </div>
</div>
