@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Content>

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels


@{
    Layout = "master.cshtml";
}

@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeader(Model.Name, Model.Title, Model.Subtitle, Model.MainImage))

<div class="container">
    <div class="row">

        <article>
            @Html.Raw(Model.MainContent)
        </article>
    </div>
</div>