<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d2ca439-37ad-4591-9b1b-2e63d4f85fdb" Alias="articleList" Level="2">
  <Info>
    <Name>Article List</Name>
    <Icon>icon-thumbnail-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="eb7d2f46-1082-4561-9238-a2bef7c79503">headerControls</Composition>
      <Composition Key="f6700a3f-6373-453f-ba2d-58505b76b6f6">mainImageControls</Composition>
      <Composition Key="09ced235-5d4d-40af-98fd-1e08bef2e712">sEOControls</Composition>
      <Composition Key="25cf30da-ccf8-4f86-8827-8a9737661c5d">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>articleList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3f06e211-79e1-4c04-a8d2-890019a839d5">articleList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="707b1add-23e1-4828-b6cc-02b2747b1911" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>