<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b712406d-3053-4b26-af1c-924bc7bb0025" Alias="contact" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-message color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ff834fdb-72c6-46ac-b064-526ea5843495">contactFormControls</Composition>
      <Composition Key="426eaa70-0bfd-4482-aa75-48737ca90790">contentControls</Composition>
      <Composition Key="eb7d2f46-1082-4561-9238-a2bef7c79503">headerControls</Composition>
      <Composition Key="f6700a3f-6373-453f-ba2d-58505b76b6f6">mainImageControls</Composition>
      <Composition Key="09ced235-5d4d-40af-98fd-1e08bef2e712">sEOControls</Composition>
      <Composition Key="25cf30da-ccf8-4f86-8827-8a9737661c5d">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e610d66a-ff8e-4a84-a0b7-95b4de10fa8c">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>