<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d60cbec-dee7-48cb-9e21-24ee5389e7e1" Alias="error" Level="2">
  <Info>
    <Name>Error</Name>
    <Icon>icon-application-error color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="426eaa70-0bfd-4482-aa75-48737ca90790">contentControls</Composition>
      <Composition Key="eb7d2f46-1082-4561-9238-a2bef7c79503">headerControls</Composition>
      <Composition Key="f6700a3f-6373-453f-ba2d-58505b76b6f6">mainImageControls</Composition>
      <Composition Key="09ced235-5d4d-40af-98fd-1e08bef2e712">sEOControls</Composition>
      <Composition Key="25cf30da-ccf8-4f86-8827-8a9737661c5d">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="09d93b03-730f-46cc-888d-1ab88b1ca0ff">Error</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>