<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c95ee22d-10f6-47c7-97c1-584dc90279bb" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="fe702710-c22f-4315-96a6-3e3b5395fba6">footerControls</Composition>
      <Composition Key="eb7d2f46-1082-4561-9238-a2bef7c79503">headerControls</Composition>
      <Composition Key="f6700a3f-6373-453f-ba2d-58505b76b6f6">mainImageControls</Composition>
      <Composition Key="09ced235-5d4d-40af-98fd-1e08bef2e712">sEOControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="238fad0a-bb4d-4878-a67d-03ba67549d78">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5a77e038-afb6-4c01-97ab-8cb872548782" SortOrder="0">content</ContentType>
    <ContentType Key="b712406d-3053-4b26-af1c-924bc7bb0025" SortOrder="1">contact</ContentType>
    <ContentType Key="8d2ca439-37ad-4591-9b1b-2e63d4f85fdb" SortOrder="2">articleList</ContentType>
    <ContentType Key="6d60cbec-dee7-48cb-9e21-24ee5389e7e1" SortOrder="4">error</ContentType>
    <ContentType Key="40402ac7-2885-45c6-969a-e9730f574125" SortOrder="5">xMLSitemap</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>