<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4dac1613-d15d-4170-bd60-36459a6447d9" Alias="search" Level="2">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="eb7d2f46-1082-4561-9238-a2bef7c79503">headerControls</Composition>
      <Composition Key="f6700a3f-6373-453f-ba2d-58505b76b6f6">mainImageControls</Composition>
      <Composition Key="09ced235-5d4d-40af-98fd-1e08bef2e712">sEOControls</Composition>
      <Composition Key="25cf30da-ccf8-4f86-8827-8a9737661c5d">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="91efcf07-7a0e-47ea-8b29-6973871b5ace">search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>