<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="40402ac7-2885-45c6-969a-e9730f574125" Alias="xMLSitemap" Level="2">
  <Info>
    <Name>XML Sitemap</Name>
    <Icon>icon-sitemap color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="25cf30da-ccf8-4f86-8827-8a9737661c5d">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>xMLSitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5c7b8bf2-dc7f-47b1-86b6-d98713e42bb0">xMLSitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>