<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5922818-d8d8-43df-88ed-4582a24c0fa6" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "Rich Text: {{ content | ncRichText | truncate:true:35 }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "da15dc43-43f6-45f6-bda8-1fd17a49d25c",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "e0df4794-063a-4450-8f4f-c615a5d902e2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "Image: {{ caption }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "fed88ec5-c150-42af-b444-1f9ac5a100ba",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "f43c8349-0801-44b8-9113-9f7c62cd44fe",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "Video: {{ caption != '' ? caption : videoUrl }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "eef34ceb-ddf6-4894-b1ac-f96c8c05d3d2",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>